body{
    background-color: #FFFFFA;
}

p{
    font-family: "Roboto Thin", sans-serif;
    font-size: 0.8rem;
    color: #40434E;
    text-align: center;
}

.title{
    display: flex;
    font-size: 2.4rem;
    color: #40434E;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 2rem;
}

.menu{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
}
.panel{
    display: none; /* when selected it should be set to flex */
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    font-size: 0.8rem;
}
button
{
    background-color: #912f40;
    border: none;
    color: white;
    padding: 0.6rem 1.28rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.64rem;
    margin: 0.16rem 0.08rem;
    cursor: pointer;
    border-radius: 0.48rem;
}

.panel_button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

button:hover{
    background-color: #702632;
    color: white;
}
button.selected{
    background-color: #702632;
    color: white;
}

.practice
{
    display: flex;
    width: 100%;
    /*justify-content: center;*/
    margin-top: 2rem;
    align-items: center;
    font-size: 0.8rem;
}

.practice_category_checkboxes
{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 0.8rem;
    flex-direction: column;
}

.practice_category_checkbox{
    margin: 1.2rem;
    vertical-align: middle;
}

.practice_category_checkbox input[type=checkbox] {
    width: 0.8rem;
    height: 0.8rem;
}

.practice_category_checkbox label {
    display: inline-block;
    margin-left: 0.4rem;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.practice_category_checkbox input[type=checkbox]{
  accent-color: #40434E;
}

.practice_category_checkbox input[type=checkbox]:checked{
    background-color: #40434E;
}

.practice_category_checkbox input[type=checkbox]:hover {
    background-color: #912f40;
}

.practice_content
{
    position: absolute;
    left: 50%;
    width: 70%;
    display:flex;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    height: 50%;
    /* center content */
    top: 35%;
    transform: translateX(-50%);
}
.practice_content_title_text
{
    font-size: 1.2rem;
    color: #40434E;
    font-family: 'Roboto bold', sans-serif;
}
.practice_question_content
{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    gap: 0.8rem;
}
.answer_content{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 0.8rem;
}
.input_answer_content{
    display: none;
    flex-direction: column;
    gap: 0.4rem;
}
.input_answer_content input[type=text] {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.options_answer_content{
    display: none; /* when shown it should be set to grid */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.2rem;
    width: 100%;
    height: 50%;
}
.answer_option_button{
    background-color: #912f40;
    width: 100%;
    height: 100%;
}

.incorrect_answer_text{
    color: red;
    opacity: 0;
    font-family: "Roboto bold", sans-serif;
}

.opacity_transition{
    transition: opacity 2s;
}

.hidden{
    opacity: 0;
}

.visible{
    opacity: 1;
}

.stats{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    font-size: 0.8rem;
}

.stats_content{
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
}

.stats_content img{
    display: flex;
    width: 100%;
    height: 100%;
}